header {
    width: 100%;
    border-bottom: 1px solid silver;
    .header_bg{
        background-color: black;
        height: 48px;
        text-align: center;
        justify-content: center;
        display: flex;
        gap: 50px;

        &-english{
            margin-left: 231px;
            text-align: center;
            display: flex;
            font-family: sans-serif;
            background-color: black;
            border: none;
            color: white;
        }
        
        
        
        & p{
            padding: 12px 0px 12px 0px;
            color: white;
            margin-left: 280px;

            & a{
                color: white;
                font-weight: bold;

            
            }
        }
    }
    // example


    .nav {
        margin-top: 30px;
        display: flex;
        height: 70px;
        align-items: center;


        &__logo {
            cursor: pointer;
            color: #000;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.72px;
            text-decoration: none;
            margin-right: 190px;
        }

        &__list {
            display: flex;
            gap: 50px;
            list-style-type: none;

            &--item {
                display: flex;
                width: 66px;
                height: 24px;
                justify-content: center;
                align-items: center;
                &-link {
                    text-decoration: none;
                    color: #000;
             
                }
            }
        }
        .active{
            border-bottom: 1px solid #000;
          }

    }

    .input {
        margin-left: 148px;
        padding: 7px 12px 7px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: rgba(192, 192, 192, 0.205);
        margin-right: 24px;

        input {
            border: none;
            background-color: rgba(192, 192, 192, 0.052);
            padding-right: 34px;

        }

     
    }
        .odam{
          ul{
            display: none;
            
            &:hover {
                display: block;
              }
          }
        
        }

    .svg{
        display: flex;
        gap: 16px;
      svg{
        width: 32px;
        height: 32px;
      }
    }
    
}